<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            text-align: center;
        }
        button {
            width: 100px;
            height: 30px;
            margin: 15px;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    
    <!-- Buttons to lists of employees, departments and employeesMongo -->
    <button onclick="window.location.href='/listEmployees'">Employees</button><br>
    <button onclick="window.location.href='/listDepartments'">Departments</button><br>
    <button onclick="window.location.href='/listEmployeesMDB'">Employees(mongoDB)</button>
</body>

</html>